---
import { IExperiences } from "@types";

const { title, details } = Astro.props as IExperiences;
---

<section class="flex flex-col sm:flex-row items-start justify-between dark:text-gray-900 text-gray-900 mt-16">
  <h2 class="dark:text-light w-64 text-xl font-bold leading-tight">{title}</h2>
  <div class="w-full">
    {
      details.map((item, index) => (
        <div class="my-8" >
          <div class="flex justify-between items-center flex-wrap">
            <h3 class="text-lg font-semibold gradient-heading">{item.name}</h3>
            <p class="text-sm dark:text-gray font-semibold">{item.startDate} - {item.endDate}</p>
          </div>
          <p class="text-sm mt-2 text-blue">{item.location}</p>
          <ul class="mt-2">
            {item.description.map((desc, idx) => (
              <li class="dark:text-gray">{desc}</li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</section>

<style>
  .gradient-heading {
  display: inline-block;
  background: linear-gradient(
    45deg,
    #4a00e0, /* Púrpura */
    #8e2de2 /* Violeta */
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-size: 150% 150%;
  animation: gradient 15s ease infinite, color-shift 10s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes color-shift {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
</style>
